################################
###########  FILES  ############
################################
TODO*.*
*.pptx
*.pdf
*.txt
*.exe
*.o
.clang-format
.clang-tidy
.editorconfig
.gitattributes
null

################################
########### FOLDERS ############
################################
.vscode/
test/
testeo/
simon_dice/
print/
