################################
###########  FILES  ############
################################
TODO*.*
*.pptx
*.pdf
*.txt
.clang-format
.clang-tidy
.editorconfig
.gitattributes

################################
########### FOLDERS ############
################################
.vscode/
test/
testeo/
simon_dice/
